# SQL, a primer

## ERD Diagram

draw a ER diagram of the database and paste the screen shot here. 

you can use [this online editor for example](https://online.visual-paradigm.com/diagrams/solutions/free-erd-editor-online/)

## Query the database

### Simple Query

ğŸ¤” display the records of the table weibo_status (fetchall)

In [1]:
import sqlite3

conn = sqlite3.connect('../data/UTSEUS-shanghai-weibo-2012.db')
c = conn.cursor()

In [2]:
query = '''
SELECT 
    * 
FROM 
    weibo_status 
'''
c.execute(query)
rows = c.fetchall()
rows[:5]

[(3513796771294526,
  'åƒç«é”…å•¦ æˆ‘åœ¨#æ´ªé•¿å…´ç¾Šè‚‰é¦†(äº‘å—å—è·¯åº—)# http://t.cn/zOeOmRM',
  1153054312,
  34647,
  '2012-11-18 19:24:56+08',
  None),
 (3514061394691877,
  'æˆ‘è¦å›æ¥å•¦ï¼ï¼ï¼é˜³å…‰æ˜åªšå•Šï¼ æˆ‘åœ¨#å¤§è¿å‘¨æ°´å­å›½é™…æœºåœº# http://t.cn/zOrpZiP',
  2883949090,
  19848,
  '2012-11-19 12:56:27+08',
  None),
 (3517373581677145,
  'ä¸è¦æ•£å¸ƒä½ çš„å›°æƒ‘å’Œè‹¦å„ï¼Œæ›´ä¸è¦ç‚«è€€ä½ çš„å¹¸ç¦å’Œå–œä¹ã€‚é‚£åªä¼šä½¿å®ƒä»¬å˜å¾—å»‰ä»·ã€‚åšä¸ªæœ‰éª¨æ°”çš„äººï¼Œæˆ´ä¸€å‰¯åˆæ³•çš„è¡¨æƒ…ï¼Œçºµæœ‰åƒè¨€ä¸‡è¯­ï¼Œåªä¸è‡ªå·±è¯´ã€‚ æˆ‘åœ¨#æ–°è‘¡äº¬å¨±ä¹åœº# http://t.cn/zj5w1zd',
  2287099050,
  32214,
  '2012-11-28 16:17:55+08',
  None),
 (3518848299203707,
  'The food just so so here [å›´è„–] æˆ‘åœ¨#é¦–å°”ç„–é²œæ±‡# http://t.cn/zjtAtq9',
  1765471642,
  2214,
  '2012-12-02 17:57:53+08',
  None),
 (3518909267803148,
  'è€å…¬å’ŒåŒäº‹é¥­å±€é—´ä½œä¸€æ‰“æ¸¸è¯—:æˆ‘å2 å·å¤´ï¼Œä½ å2å·å°¾ï¼Œ æ—¥æ—¥æ€å›ä¸è§å›ï¼Œå…±å2å·è½¨ã€‚è‡´é™å®‰å¥³å’Œå¼ æ±Ÿç”·ã€‚ æˆ‘åœ¨è¿™é‡Œï¼šhttp://t.cn/zlQbJ1x',
  2709940290,
  31412,
  '2012-12-02 22:00:10+08',
  None)]

ğŸ¤” display the first 5 records of the table weibo_status (fetchone, limit)

In [3]:
query = '''
SELECT 
    * 
FROM 
    weibo_status 
LIMIT 5 
'''
c.execute(query)
rows = c.fetchall()
len(rows)

5

### query with projection

ğŸ¤” display the columns with the status text and the date from weibo_status

In [4]:
query = '''
SELECT created_at, status
FROM weibo_status
LIMIT 1
'''
c.execute(query)
rows = c.fetchall()
rows

[('2012-11-18 19:24:56+08', 'åƒç«é”…å•¦ æˆ‘åœ¨#æ´ªé•¿å…´ç¾Šè‚‰é¦†(äº‘å—å—è·¯åº—)# http://t.cn/zOeOmRM')]

ğŸ¤” display the description and gender from the table weibo_user __*renamed into `wu`*__

In [5]:
query = '''
SELECT
    wu.description, wu.gender
FROM 
    weibo_user wu
'''
c.execute(query)
rows = c.fetchall()
rows[0]

('æ˜¯éæµ‘ä¸åˆ†ï¼Œä½•å ªè¾¨ä¸–äº‹', 'f')

ğŸ¤” display only the description from the table weibo_user but __rename the column `desc` instead of `description`__

In [6]:
import sqlite3

conn = sqlite3.connect('../data/UTSEUS-shanghai-weibo-2012.db')
conn.row_factory = sqlite3.Row
c = conn.cursor()

query = '''
SELECT 
    description as "desc"
FROM 
    weibo_user
'''
c.execute(query)
rows = c.fetchall()
rows[0]['desc']

'æ˜¯éæµ‘ä¸åˆ†ï¼Œä½•å ªè¾¨ä¸–äº‹'

### query with selection

ğŸ¤” Select all the points of interests (POI) in jufengyuan road from the table weibo_location

In [7]:
import sqlite3

conn = sqlite3.connect('../data/UTSEUS-shanghai-weibo-2012.db')
c = conn.cursor()

In [8]:
query = '''
SELECT 
    *
FROM 
    weibo_location
WHERE 
    street = "ä¸Šæµ·å¸‚èšä¸°å›­è·¯"
'''
c.execute(query)
rows = c.fetchall()
len(rows)

52

ğŸ¤” Select all the shops around century park: bounding box __top left__ `121.5276, 31.2256` and __bottom right__ `121.5705, 31.2097`

In [9]:
query = '''
SELECT title 
    
FROM weibo_location 
WHERE 
    longitude <= 121.5705 and 
    longitude >= 121.5276 and 
    latitude >=31.2097 and 
    latitude <=31.2256 and 
    (category_en_name like '%shop%' or category_en_name like '%store%')
'''
c.execute(query)
rows = c.fetchall()
len(rows)

18

ğŸ¤” Select all the message where the text contains `happy`

In [10]:
query = '''
SELECT 
    status
FROM
    weibo_status
WHERE
    status like '%happy%' or status like '%å¿«ä¹%'
'''
c.execute(query)
rows = c.fetchall()
len(rows)

13421

ğŸ¤” Select all the message where the text contains `happy` or `sad`

In [11]:
query = '''
SELECT 
    status
FROM
    weibo_status
WHERE
    status like '%happy%' or 
    status like '%å¿«ä¹%' or 
    status like '%sad%' or 
    status like '%æ‚²ä¼¤%' 
'''
c.execute(query)
rows = c.fetchall()
len(rows)

15991

### query with counting

ğŸ¤” what is the most popular word in the message, `happy` or `sad`?

In [12]:
query = '''
SELECT 
    COUNT(*)
FROM
    weibo_status
WHERE
    status like '%happy%' or 
    status like '%å¿«ä¹%'  
'''
c.execute(query)
happy_result = c.fetchone()[0]

query = '''
SELECT 
    COUNT(*)
FROM
    weibo_status
WHERE 
    status like '%sad%' or 
    status like '%æ‚²ä¼¤%' 
'''
c.execute(query)
sad_result = c.fetchone()[0]

In [13]:
f'{happy_result} people are happy and {sad_result} people are sad'

'13421 people are happy and 2631 people are sad'

In [14]:
f'most people are happy! True or False: {happy_result > sad_result}'

'most people are happy! True or False: True'

### query with sorting

ğŸ¤” show the top 10 coffee place according to their distinct user checkin count

In [15]:
query = '''
SELECT 
    title
FROM
    weibo_location
WHERE
    category_en_name = 'CafÃ©'
ORDER BY 
    distinct_user_checkin_count DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('æ˜Ÿå·´å…‹(å›½è´¸360å¹¿åœºåº—)',),
 ('æ˜Ÿå·´å…‹(æ–°å¤©åœ°åº—)',),
 ('æ˜Ÿå·´å…‹(æ¥ç¦å£«åº—)',),
 ('è‹å·ä¸­èŒµçš‡å† å‡æ—¥é…’åº—',),
 ('æ˜Ÿå·´å…‹å’–å•¡ç¾ç½—åº—',),
 ('å¤è‘£èŠ±å›­ Antique Garden',),
 ('STARBUCKS COFFEE(å¤§å®å›½é™…å•†ä¸šå¹¿åœº)',),
 ('æ˜Ÿå·´å…‹å’–å•¡(ä¸‡è¾¾åº—)',),
 ('æ˜Ÿå·´å…‹(é¾™ä¹‹æ¢¦åº—)',),
 ('æ˜Ÿå·´å…‹å’–å•¡(å—äº¬è·¯æ­¥è¡Œè¡—)',)]

### query with grouping
ğŸ¤” list the locations grouped by their english category name (remove the null and unknown categories)

In [16]:
query = '''
SELECT 
    category_en_name, COUNT(*)
FROM
    weibo_location
WHERE
    category_en_name not in ("NULL", "Unknown Classification")
GROUP BY 
    category_en_name
'''
c.execute(query)
rows = c.fetchall()
rows[:3]

[('ATM', 30), ('Activity', 8), ('Adult Education', 46)]

ğŸ¤” list the top 10 locations english category names according to their count (remove the null and unknown categories)

In [17]:
query = '''
SELECT 
    category_en_name, COUNT(*) as total
FROM
    weibo_location
WHERE
    category_en_name not in ("NULL", "Unknown Classification")
GROUP BY 
    category_en_name
ORDER BY 
    total DESC
LIMIT
    10
'''
c.execute(query)
rows = c.fetchall()
rows

[('Residences', 5004),
 ('Food & Drink', 2294),
 ('Fast-food restaurant', 2254),
 ('Bus Station', 1859),
 ('Buildings', 1763),
 ('Other', 1735),
 ('Door', 1340),
 ('Live Entertainment', 1212),
 ('Shanghai cuisine', 990),
 ('Company', 811)]

ğŸ¤” list the top 10 locations english per street ordered by count. If the count is the same, order by the (category, street) having the most total checking

In [18]:
query = '''
SELECT 
    category_en_name, street, COUNT(*) as total, SUM(total_checkin_count) as checkin
FROM
    weibo_location
WHERE
    category_en_name not in ("NULL", "Unknown Classification")
GROUP BY 
    category_en_name, street
ORDER BY 
    total DESC, checkin DESC
LIMIT
    10
'''
c.execute(query)
rows = c.fetchall()
rows

[('Food & Drink', 'ä¸Šæµ·å¸‚å—äº¬è¥¿è·¯', 32, 7810),
 ('Other', 'ä¸Šæµ·å¸‚å—äº¬è¥¿è·¯', 28, 8897),
 ('Residences', 'ä¸Šæµ·å¸‚åœºä¸­è·¯', 28, 2851),
 ('Buildings', 'ä¸Šæµ·å¸‚å»¶å®‰è¥¿è·¯', 26, 6205),
 ('Residences', 'ä¸Šæµ·å¸‚æ–œåœŸè·¯', 26, 1543),
 ('Food & Drink', 'ä¸Šæµ·å¸‚åå±±è·¯', 25, 3606),
 ('Fast-food restaurant', 'ä¸Šæµ·å¸‚å…±å’Œæ–°è·¯', 25, 2851),
 ('Food & Drink', 'ä¸Šæµ·å¸‚å…±å’Œæ–°è·¯', 25, 1940),
 ('Airport', 'ä¸Šæµ·å¸‚æµ¦ä¸œæœºåœºè·¯', 24, 125554),
 ('Residences', 'ä¸Šæµ·å¸‚å…±å’Œæ–°è·¯', 24, 2415)]

### query multiple tables
ğŸ¤” select the top 10 location where people got birthday party

In [19]:
query = '''
SELECT 
    title, street, COUNT(*) as total
FROM
    weibo_status ws
JOIN 
    weibo_location wl
ON
    ws.weibo_location_id = wl.weibo_location_id
WHERE
    status like '%happy birthday%' or 
    status like '%ç”Ÿæ—¥å¿«ä¹%'
GROUP BY
    ws.weibo_location_id
ORDER BY 
    total DESC
LIMIT
    10
'''
c.execute(query)
rows = c.fetchall()
rows

[('å°åŒ—çº¯K Party', 'ä¸Šæµ·å¸‚å¤©å±±è·¯', 12),
 ('å”›æ­Œæ—¶å°šKTV(æ·®æµ·ä¸­è·¯åº—)', 'ä¸Šæµ·å¸‚æ·®æµ·ä¸­è·¯', 11),
 ('é“¶ä¹è¿ª(è™¹å£é¾™ä¹‹æ¢¦åº—)', 'ä¸Šæµ·å¸‚è¥¿æ±Ÿæ¹¾è·¯', 10),
 ('Richy(å¤å…´å…¬å›­åº—)', 'ä¸Šæµ·å¸‚é‡åº†å—è·¯', 9),
 ('ä¸Šæµ·æˆå‰§å­¦é™¢(è²èŠ±è·¯æ ¡åŒº)', 'ä¸Šæµ·å¸‚è²èŠ±è·¯', 9),
 ('MUSE', 'ä¸Šæµ·å¸‚åŒ—äº¬ä¸œè·¯', 7),
 ('MUSE2', 'ä¸Šæµ·å¸‚å…´å®‰è·¯', 7),
 ('é“¶ä¹è¿ª', 'ä¸Šæµ·å¸‚å®œå±±è·¯', 6),
 ('è¯å¤§Â·å¤§æ‹‡æŒ‡å¹¿åœº', 'ä¸Šæµ·å¸‚èŠ³ç”¸è·¯', 6),
 ('å¤§æ‚¦åŸ', 'ä¸Šæµ·å¸‚è¥¿è—åŒ—è·¯', 6)]

ğŸ¤” select the top 10 favorite location where the top 500 most popular people

In [20]:
query = '''
SELECT 
    title, street, category_en_name, COUNT(*) as total
FROM
    weibo_status ws
JOIN 
    weibo_location wl
ON
    ws.weibo_location_id = wl.weibo_location_id
WHERE
   ws.weibo_user_id in (
       SELECT 
           weibo_user_id
       FROM 
           weibo_user
        ORDER BY
            followers_count DESC
        LIMIT
            500
   )
GROUP BY
    ws.weibo_location_id
ORDER BY 
    total DESC
LIMIT
    10
'''
c.execute(query)
rows = c.fetchall()
rows

[('æ²ªä¸Šä¸€å®¶è¾£è‚‰é¢é¦†(æˆéƒ½åŒ—è·¯åº—)', 'ä¸Šæµ·å¸‚æˆéƒ½åŒ—è·¯', 'Fast-food restaurant', 8),
 ('æ–°å¤©åœ°', 'ä¸Šæµ·å¸‚åµ©å±±è·¯', 'Other', 7),
 ('å·æ¨æ–°è‹‘ä¸‰æœŸ', 'ä¸Šæµ·å¸‚å­™ç¯è·¯', 'Residences', 7),
 ('å¹¸ç¦ç å¤´', 'ä¸Šæµ·å¸‚ä¸­å±±å—è·¯', 'Residences', 7),
 ('ä¸Šæµ·æ˜å¤©å¹¿åœºJWä¸‡è±ªé…’åº—', 'ä¸Šæµ·å¸‚æ±Ÿé˜´è·¯', 'Five-star hotel', 7),
 ('æ±‡è´¤å±…(The Summit)', 'ä¸Šæµ·å¸‚å®‰ç¦è·¯', 'Residences', 5),
 ('é•‡åªè·¯', 'ä¸Šæµ·å¸‚é•‡åªè·¯', 'Unknown Classification', 5),
 ('ç¯çƒé‡‘èä¸­å¿ƒ', 'ä¸Šæµ·å¸‚ä¸œæ³°è·¯', 'Unknown Classification', 5),
 ('å¼ æ±Ÿç§‘æ•™å›­åŒº', 'ä¸Šæµ·å¸‚åä½—è·¯', 'Institutions of higher learning', 5),
 ('ä¸­å›½è”é€š', 'ä¸Šæµ·å¸‚æ–‡æ²»è·¯', 'Buildings', 5)]

ğŸ¤” THE FINAL QUERY
1. select the top 50 favorite location where the 500 most popular woman go 
2. select the top 50 favorite location where the 500 most popular men go
3. display the one they have in common and the one specific for each of these two genders orders by how many influencers go there

#### 1

In [21]:
query = '''
SELECT 
    title, street, category_en_name, COUNT(*) as total
FROM
    weibo_status ws
JOIN 
    weibo_location wl
ON
    ws.weibo_location_id = wl.weibo_location_id
WHERE
   ws.weibo_user_id in (
        SELECT 
            weibo_user_id
        FROM 
            weibo_user
        WHERE
            gender LIKE 'f'
        ORDER BY
            followers_count DESC
        LIMIT
            500
   )
GROUP BY
    ws.weibo_location_id
ORDER BY 
    total DESC
LIMIT
    50
'''
c.execute(query)
rows_f = c.fetchall()
rows_f

[('å‡¤åŸä¸‰æ‘', 'ä¸Šæµ·å¸‚æ±Ÿæµ¦è·¯', 'Residences', 13),
 ('åº·æ³°æ–°åŸ', 'ä¸Šæµ·å¸‚åçµè·¯', 'Unknown Classification', 13),
 ('æ–°å¤©åœ°', 'ä¸Šæµ·å¸‚åµ©å±±è·¯', 'Other', 9),
 ('å¹¸ç¦ç å¤´', 'ä¸Šæµ·å¸‚ä¸­å±±å—è·¯', 'Residences', 7),
 ('ä¸‡æºåŸæœ—éƒ¡', 'ä¸Šæµ·å¸‚å¤é¾™è·¯', 'Residences', 6),
 ('æ±¤è‡£é«˜å°”å¤«åˆ«å¢…', 'ä¸Šæµ·å¸‚é¾™ä¸œå¤§é“', 'Residences', 6),
 ('ä¸ƒéŸµç¾åœ°è‹‘', 'ä¸Šæµ·å¸‚å´ä¸­è·¯', 'Unknown Classification', 6),
 ('MUSE2', 'ä¸Šæµ·å¸‚å…´å®‰è·¯', 'Bar', 6),
 ('æ±‡è´¤å±…(The Summit)', 'ä¸Šæµ·å¸‚å®‰ç¦è·¯', 'Residences', 5),
 ('å—å®œèŠ±è‹‘', 'ä¸Šæµ·å¸‚å‡¯æ—‹è·¯', 'Residences', 5),
 ('é•‡åªè·¯', 'ä¸Šæµ·å¸‚é•‡åªè·¯', 'Unknown Classification', 5),
 ('ç¯çƒé‡‘èä¸­å¿ƒ', 'ä¸Šæµ·å¸‚ä¸œæ³°è·¯', 'Unknown Classification', 5),
 ('é¦¥é‚¦ä¸­ç¯å¹¿åœº', 'ä¸Šæµ·å¸‚å¤©å±±è·¯', 'Market', 5),
 ('ä¸­å›½è”é€š', 'ä¸Šæµ·å¸‚æ–‡æ²»è·¯', 'Buildings', 5),
 ('ä¸Šæµ·å¤–æ»©åå°”é“å¤«é…’åº—(Waldorf Astoria Shanghai on the Bund)',
  'ä¸Šæµ·å¸‚å»¶å®‰ä¸œè·¯',
  'Hotels, guest houses',
  5),
 ('å®‰å±…å…°åº­', 'ä¸Šæµ·å¸‚å…°æºªè·¯', 'Residences', 4),
 ('muse 2', 'ä¸Šæµ·å¸‚å…´å®‰è·¯', 'Other', 4),
 ('æ¢…èµ›å¾·æ–¯å¥”é©°æ–‡åŒ–ä¸­å¿ƒéŸ³ä¹ä¿±ä¹éƒ¨', 'ä¸Šæµ·å¸‚åšæˆè·¯', 'Unknown Classification', 4),
 ('æ˜Ÿå·´å…‹(ä¸œæ¨±èŠ±è‹‘åº—)', 'ä¸Šæµ·å¸‚æµ¦é€¸è·¯', 'Other', 4),
 ('ä¸Šæµ·æŸæ‚¦é…’åº—', 'ä¸Šæµ·å¸‚ä¸–çºªå¤§é“', 'Five-star hotel', 4),
 ('å¤æ—¦å¤§å­¦å—åŒº', 'ä¸Šæµ·å¸‚æ”¿è‚ƒè·¯', 'Institutions of higher learning', 4),
 ('ä¸Šæµ·å¸‚å›­æ—å­¦æ ¡', 'ä¸Šæµ·å¸‚æ¨æ ‘æµ¦è·¯', 'Adult Education', 3),
 ('ä¸Šæµ·å›½é‡‘ä¸­å¿ƒIFC', 'ä¸Šæµ·å¸‚é™†å®¶å˜´ç¯è·¯', 'Market', 3),
 ('ç»¿åœ°æ™®é™€å•†åŠ¡å¹¿åœº', 'ä¸Šæµ·å¸‚æ–°æ‘è·¯', 'Unknown Classification', 3),
 ('ä¸Šæˆå‰§é™¢', 'ä¸Šæµ·å¸‚åå±±è·¯', 'Concert Hall', 3),
 ('è°ƒé¢‘å£¹å¹¿åœº', 'ä¸Šæµ·å¸‚é•¿å¯¿è·¯', 'Market', 3),
 ('æ˜Ÿå·´å…‹(äº”è§’åœºåº—)', 'ä¸Šæµ·å¸‚é‚¯éƒ¸è·¯', 'CafÃ©', 3),
 ('æŸšå­(é™†å®¶å˜´åº—)', 'ä¸Šæµ·å¸‚é“¶åŸä¸­è·¯', 'Japanese', 3),
 ('å¤§åè™åŸ', 'ä¸Šæµ·å¸‚å¤§åè·¯', 'Live Entertainment', 3),
 ('2013è·¨å¹´æ¼”å”±ä¼šèšé›†åœ°', 'åŒ—äº¬å¸‚è¿œå¤§ä¸œè·¯', 'Activity', 3),
 ('å›½å³°ç§‘æŠ€å¤§å¦', 'ä¸Šæµ·å¸‚å†…ç¯é«˜æ¶è·¯å…¥å£', 'Buildings', 3),
 ('ä¸Šæµ·æ˜å¤©å¹¿åœºJWä¸‡è±ªé…’åº—', 'ä¸Šæµ·å¸‚æ±Ÿé˜´è·¯', 'Five-star hotel', 3),
 ('ä¸Šæµ·æ•°å¨±å¤§å¦', 'ä¸Šæµ·å¸‚è™¹æ¡¥è·¯', 'Buildings', 3),
 ('å¾·å·è·¯è¥¿è¥è·¯', 'ä¸Šæµ·å¸‚å¾·å·è·¯', 'Other', 2),
 ('çº½æ–¯æ¡‘æ‹¿ä¼šæ‰€', 'ä¸Šæµ·å¸‚é‡‘æ±‡å—è·¯', 'Bath massage places', 2),
 ('CGVæ˜Ÿæ˜Ÿå›½é™…å½±åŸå¤§ååº—', 'ä¸Šæµ·å¸‚å¤§åè·¯', 'Cinema', 2),
 ('ä¸Šå¤§èšä¸°å›­', 'ä¸Šæµ·å¸‚ä¸Šå¤§è·¯', 'Unknown Classification', 2),
 ('ä¸Šæµ·æµ¦ä¸œæ–°åŒºå›¾ä¹¦é¦†(æ–°é¦†)', 'ä¸Šæµ·å¸‚å‰ç¨‹è·¯', 'Library', 2),
 ('å¤–æ»©', 'ä¸Šæµ·å¸‚ä¸­å±±ä¸œä¸€è·¯', 'Unknown Classification', 2),
 ('å¤§æ‚¦åŸ', 'ä¸Šæµ·å¸‚è¥¿è—åŒ—è·¯', 'Unknown Classification', 2),
 ('ç”°å­åŠ', 'ä¸Šæµ·å¸‚å»ºå›½ä¸­è·¯', 'Residences', 2),
 ('IN-HOUSE', 'ä¸Šæµ·å¸‚æ„šå›­è·¯', 'Other', 2),
 ('ä¸Šå²›å’–å•¡ æµ¦åŒ—åº— UBC Coffee', 'ä¸Šæµ·å¸‚æ¡‚å¹³è·¯', 'Other', 2),
 ('ä¸Šæµ·å¤–æ»©èŒ‚æ‚¦å¤§é…’åº—', 'ä¸Šæµ·å¸‚å—æµ”è·¯', 'Self', 2),
 ('åŒæµå¤§å­¦(æ²ªè¥¿æ ¡åŒº)', 'ä¸Šæµ·å¸‚çœŸå—è·¯', 'Institutions of higher learning', 2),
 ('é¾™ä¹‹æ¢¦å½±åŸ', 'ä¸Šæµ·å¸‚æ±‡å·è·¯', 'Cinema', 2),
 ('ä¸œåå¤§å­¦-è±ä½›å£«å›½é™…è®¾è®¡å­¦é™¢', 'ä¸Šæµ·å¸‚æ–°åè·¯', 'Institutions of higher learning', 2),
 ('ä¸Šæµ·å¸‚å…¬å®‰å±€å‡ºå…¥å¢ƒç®¡ç†å±€', 'ä¸Šæµ·å¸‚æ°‘ç”Ÿè·¯', 'Building institutions', 2),
 ('æµ·åº•æç«é”…(é•¿å¯¿è·¯)', 'ä¸Šæµ·å¸‚é•¿å¯¿è·¯', 'Hot Pot', 2),
 ('æ¸¯åŒ¯æ†éš†å»£å ´', 'ä¸Šæµ·å¸‚åå±±è·¯', 'Market', 2)]

#### 2

In [22]:
query = '''
SELECT 
    title, street, category_en_name, COUNT(*) as total
FROM
    weibo_status ws
JOIN 
    weibo_location wl
ON
    ws.weibo_location_id = wl.weibo_location_id
WHERE
   ws.weibo_user_id in (
        SELECT 
            weibo_user_id
        FROM 
            weibo_user
        WHERE
            gender LIKE 'm'
        ORDER BY
            followers_count DESC
        LIMIT
            500
   )
GROUP BY
    ws.weibo_location_id
ORDER BY 
    total DESC
LIMIT
    50
'''
c.execute(query)
rows_m = c.fetchall()
rows_m

[('ä¸Šæµ·è´¢ç»å¤§å­¦ä¸­å±±åŒ—ä¸€è·¯æ ¡åŒº', 'ä¸Šæµ·å¸‚æ–°å¸‚è·¯', 'Institutions of higher learning', 13),
 ('æ²ªä¸Šä¸€å®¶è¾£è‚‰é¢é¦†(æˆéƒ½åŒ—è·¯åº—)', 'ä¸Šæµ·å¸‚æˆéƒ½åŒ—è·¯', 'Fast-food restaurant', 8),
 ('å·æ¨æ–°è‹‘ä¸‰æœŸ', 'ä¸Šæµ·å¸‚å­™ç¯è·¯', 'Residences', 7),
 ('å¼ æ±Ÿç§‘æ•™å›­åŒº', 'ä¸Šæµ·å¸‚åä½—è·¯', 'Institutions of higher learning', 5),
 ('ä¸­è¿œä¸¤æ¹¾åŸè¥¿åŒº', 'ä¸Šæµ·å¸‚å…‰å¤è¥¿è·¯', 'Unknown Classification', 4),
 ('å’Œé£é€ å‹ç§å±Salon', 'ä¸Šæµ·å¸‚ä¸Šå—è·¯', 'Live Entertainment', 4),
 ('å—æ–°å››æ‘', 'ä¸Šæµ·å¸‚ä¸‹å—è·¯', 'Unknown Classification', 4),
 ('å¹¸ç¦è·¯', 'ä¸Šæµ·å¸‚å¹¸ç¦è·¯', 'Other', 4),
 ('è™¹å£ä½“è‚²é¦†', 'ä¸Šæµ·å¸‚ä¸œä½“è‚²ä¼šè·¯', 'Food & Drink', 4),
 ('G-Star RAWæ——èˆ°åº—', 'ä¸Šæµ·å¸‚æˆéƒ½åŒ—è·¯', 'Shopping services', 4),
 ('è±ªäº«æ¥ æ¢…å·åº—', 'ä¸Šæµ·å¸‚æ¢…å·è·¯', 'Western Restaurant', 4),
 ('ä¸€å…†éŸ¦å¾·(ä¸½å›­åº—)', 'ä¸Šæµ·å¸‚è¥¿è—å—è·¯', 'Unknown Classification', 4),
 ('ä¸Šæµ·æ˜å¤©å¹¿åœºJWä¸‡è±ªé…’åº—', 'ä¸Šæµ·å¸‚æ±Ÿé˜´è·¯', 'Five-star hotel', 4),
 ('æµ·ä¼¦è·¯', 'ä¸Šæµ·å¸‚å››å¹³è·¯', 'Unknown Classification', 4),
 ('å¤§å®å›½é™…å•†ä¸šå¹¿åœº', 'ä¸Šæµ·å¸‚å…±å’Œæ–°è·¯', 'Market', 3),
 ('å¤œå¸‚è±†æµ†æ²¹æ¡åº—', 'ä¸Šæµ·å¸‚ä¸´æ½¼è·¯', 'Casual dining', 3),
 ('å¼ æ±Ÿå­¦ç”Ÿç¤¾åŒº', 'ä¸Šæµ·å¸‚åä½—è·¯', 'Campus Life', 3),
 ('ä¸Šæˆå‰§é™¢', 'ä¸Šæµ·å¸‚åå±±è·¯', 'Concert Hall', 3),
 ('å¤–ç¯éš§é“', 'ä¸Šæµ·å¸‚S20å¤–ç¯é«˜é€Ÿ', 'Unknown Classification', 3),
 ('å¾æ±‡ç‘å³°é…’åº—', 'ä¸Šæµ·å¸‚è‚‡å˜‰æµœè·¯', 'Four star hotels', 3),
 ('åŒ—æ–—æ˜Ÿå•†ä¸šå¹¿åœº', 'ä¸Šæµ·å¸‚æ³‰ä¸´è·¯', 'Shopping services', 3),
 ('æ˜Ÿç€šå¥”é©°', 'ä¸Šæµ·å¸‚å—å¤§è·¯', 'Unknown Classification', 3),
 ('åˆé˜³å°åŒº(å—äºŒé—¨)', 'ä¸Šæµ·å¸‚å»¶é•¿è¥¿è·¯', 'Door', 3),
 ('é‡‘èŒ‚å¤§å¦', 'ä¸Šæµ·å¸‚æµ·å…´è·¯', 'Buildings', 3),
 ('å…¨å®¶ä¾¿åˆ©åº—(å»¶å®‰äºŒåº—)', 'ä¸Šæµ·å¸‚å»¶å®‰è¥¿è·¯', 'Convenience store / convenience store', 2),
 ('ä¸Šæµ·å½±åŸ--ä¸–åšå›½é™…å½±åŸ', 'ä¸Šæµ·å¸‚ä¸–åšé¦†è·¯', 'Cinema', 2),
 ('ä¸Šæµ·å…‰å¤§ä¼šå±•ä¸­å¿ƒ', 'ä¸Šæµ·å¸‚ä¹ å‹¤è·¯', 'Other', 2),
 ('è™¹æ¡¥æœºåœº(ä¸€å·èˆªç«™æ¥¼)', 'ä¸Šæµ·å¸‚ç©ºæ¸¯ä¸€è·¯', 'Airport', 2),
 ('æ–°å‘å±•äºšå¤ªä¸‡è±ªé…’åº—', 'ä¸Šæµ·å¸‚å¤§æ¸¡æ²³è·¯', 'Other', 2),
 ('ä¸Šæµ·é¾™ä¹‹æ¢¦ä¸½æ™¶å¤§é…’åº—', 'ä¸Šæµ·å¸‚å»¶å®‰è¥¿è·¯', 'Five-star hotel', 2),
 ('ä¸Šæµ·å¤§å‰§é™¢', 'ä¸Šæµ·å¸‚æ–°æ˜Œè·¯', 'Theater', 2),
 ('çˆ±å®¶è±ªåº­', 'ä¸Šæµ·å¸‚ç‰©åè·¯', 'Residences', 2),
 ('ä¼Ÿä¸šé‡‘é”¦è‹‘äºŒé‚¨', 'ä¸Šæµ·å¸‚è±é˜³è·¯', 'Residences', 2),
 ('é”¦ç§‹èŠ±å›­', 'ä¸Šæµ·å¸‚é”¦ç§‹è·¯', 'Residences', 2),
 ('é€šæ²³äºŒæ‘', 'ä¸Šæµ·å¸‚é•¿æ±Ÿè¥¿è·¯', 'Residences', 2),
 ('æµ¦ä¸œäº¤è­¦æ”¯é˜Ÿäº‹æ•…ç§‘ä¸œæ˜äº‹æ•…å—ç†ç‚¹', 'ä¸Šæµ·å¸‚ä¸œæ˜è·¯', 'Park outdoors', 2),
 ('ä¸Šæµ·å¸‚æ¨æµ¦åŒºä¸­å¿ƒåŒ»é™¢', 'ä¸Šæµ·å¸‚æ³¢é˜³è·¯', 'Hospital', 2),
 ('ä¸œæ–¹æ˜ç ', 'ä¸Šæµ·å¸‚é™†å®¶å˜´ä¸œè·¯', 'Unknown Classification', 2),
 ('æ½åŠä¹æ‘(è¥¿é—¨)', 'ä¸Šæµ·å¸‚å´‚å±±è·¯', 'Door', 2),
 ('æµ¦ä¸œå˜‰é‡Œä¸­å¿ƒ', 'ä¸Šæµ·å¸‚èŠ³ç”¸è·¯', 'Buildings', 2),
 ('Wagasæ²ƒæ­Œæ–¯(é‡‘æ¡¥å›½é™…å¹¿åœºåº—)', 'ä¸Šæµ·å¸‚é‡‘æ¡¥è·¯', 'Western Restaurant', 2),
 ('ä¸–çºªè”å(ä¸œå®åº—)', 'ä¸Šæµ·å¸‚å¤©é€šåºµè·¯', 'Supermarket', 2),
 ('æµ·åº•æç«é”…(é•¿å¯¿è·¯)', 'ä¸Šæµ·å¸‚é•¿å¯¿è·¯', 'Hot Pot', 2),
 ('å¼ æ±Ÿä¼ å¥‡å¹¿åœº', 'ä¸Šæµ·å¸‚ç¢§æ³¢è·¯', 'Unknown Classification', 2),
 ('ä¸Šæµ·åŠå²›é…’åº—(The Peninsula,Shanghai)', 'ä¸Šæµ·å¸‚åŒ—äº¬ä¸œè·¯', 'Hotels, guest houses', 2),
 ('ä¸Šæµ·å®‰è¾¾ä»•é…’åº—', 'ä¸Šæµ·å¸‚åµ©å±±è·¯', 'Hotels, guest houses', 2),
 ('ä¸Šæµ·æˆå‰§å­¦é™¢(è²èŠ±è·¯æ ¡åŒº)', 'ä¸Šæµ·å¸‚è²èŠ±è·¯', 'Institutions of higher learning', 2),
 ('ä¸Šå²›å’–å•¡ æ¢…å·è·¯åº— UBC Coffee', 'ä¸Šæµ·å¸‚æ¢…å·è·¯', 'CafÃ©', 2),
 ('å¤æ—¦å¤§å­¦ä¸Šæµ·åŒ»å­¦é™¢', 'ä¸Šæµ·å¸‚åŒç”Ÿä¸œè·¯', 'Institutions of higher learning', 2),
 ('æ¡‚ç¾åˆ«å¢…', 'ä¸Šæµ·å¸‚é’¦å·å—è·¯', 'Unknown Classification', 2)]

#### 3

In [23]:
query = '''
SELECT 
    title, street, category_en_name, COUNT(*) as total
FROM
    weibo_status ws
JOIN 
    weibo_location wl
ON
    ws.weibo_location_id = wl.weibo_location_id
WHERE
   ws.weibo_user_id in (
        SELECT 
            weibo_user_id
        FROM 
            weibo_user
        WHERE
            gender LIKE 'f'
        ORDER BY
            followers_count DESC
        LIMIT
            500
   ) OR
    ws.weibo_user_id in (
        SELECT 
            weibo_user_id
        FROM 
            weibo_user
        WHERE
            gender LIKE 'm'
        ORDER BY
            followers_count DESC
        LIMIT
            500
   )
GROUP BY
    ws.weibo_location_id
ORDER BY 
    total DESC
LIMIT
    50
'''
c.execute(query)
rows_a = c.fetchall()
rows_a

[('å‡¤åŸä¸‰æ‘', 'ä¸Šæµ·å¸‚æ±Ÿæµ¦è·¯', 'Residences', 13),
 ('ä¸Šæµ·è´¢ç»å¤§å­¦ä¸­å±±åŒ—ä¸€è·¯æ ¡åŒº', 'ä¸Šæµ·å¸‚æ–°å¸‚è·¯', 'Institutions of higher learning', 13),
 ('åº·æ³°æ–°åŸ', 'ä¸Šæµ·å¸‚åçµè·¯', 'Unknown Classification', 13),
 ('æ–°å¤©åœ°', 'ä¸Šæµ·å¸‚åµ©å±±è·¯', 'Other', 10),
 ('æ²ªä¸Šä¸€å®¶è¾£è‚‰é¢é¦†(æˆéƒ½åŒ—è·¯åº—)', 'ä¸Šæµ·å¸‚æˆéƒ½åŒ—è·¯', 'Fast-food restaurant', 8),
 ('å·æ¨æ–°è‹‘ä¸‰æœŸ', 'ä¸Šæµ·å¸‚å­™ç¯è·¯', 'Residences', 7),
 ('å¹¸ç¦ç å¤´', 'ä¸Šæµ·å¸‚ä¸­å±±å—è·¯', 'Residences', 7),
 ('MUSE2', 'ä¸Šæµ·å¸‚å…´å®‰è·¯', 'Bar', 7),
 ('ä¸Šæµ·æ˜å¤©å¹¿åœºJWä¸‡è±ªé…’åº—', 'ä¸Šæµ·å¸‚æ±Ÿé˜´è·¯', 'Five-star hotel', 7),
 ('ä¸‡æºåŸæœ—éƒ¡', 'ä¸Šæµ·å¸‚å¤é¾™è·¯', 'Residences', 6),
 ('æ±¤è‡£é«˜å°”å¤«åˆ«å¢…', 'ä¸Šæµ·å¸‚é¾™ä¸œå¤§é“', 'Residences', 6),
 ('ä¸Šæˆå‰§é™¢', 'ä¸Šæµ·å¸‚åå±±è·¯', 'Concert Hall', 6),
 ('ä¸ƒéŸµç¾åœ°è‹‘', 'ä¸Šæµ·å¸‚å´ä¸­è·¯', 'Unknown Classification', 6),
 ('æ±‡è´¤å±…(The Summit)', 'ä¸Šæµ·å¸‚å®‰ç¦è·¯', 'Residences', 5),
 ('å—å®œèŠ±è‹‘', 'ä¸Šæµ·å¸‚å‡¯æ—‹è·¯', 'Residences', 5),
 ('é•‡åªè·¯', 'ä¸Šæµ·å¸‚é•‡åªè·¯', 'Unknown Classification', 5),
 ('ç¯çƒé‡‘èä¸­å¿ƒ', 'ä¸Šæµ·å¸‚ä¸œæ³°è·¯', 'Unknown Classification', 5),
 ('å¼ æ±Ÿç§‘æ•™å›­åŒº', 'ä¸Šæµ·å¸‚åä½—è·¯', 'Institutions of higher learning', 5),
 ('é¦¥é‚¦ä¸­ç¯å¹¿åœº', 'ä¸Šæµ·å¸‚å¤©å±±è·¯', 'Market', 5),
 ('ä¸­å›½è”é€š', 'ä¸Šæµ·å¸‚æ–‡æ²»è·¯', 'Buildings', 5),
 ('ä¸Šæµ·å¤–æ»©åå°”é“å¤«é…’åº—(Waldorf Astoria Shanghai on the Bund)',
  'ä¸Šæµ·å¸‚å»¶å®‰ä¸œè·¯',
  'Hotels, guest houses',
  5),
 ('ä¸­è¿œä¸¤æ¹¾åŸè¥¿åŒº', 'ä¸Šæµ·å¸‚å…‰å¤è¥¿è·¯', 'Unknown Classification', 4),
 ('ä¸Šæµ·å›½é‡‘ä¸­å¿ƒIFC', 'ä¸Šæµ·å¸‚é™†å®¶å˜´ç¯è·¯', 'Market', 4),
 ('å¤œå¸‚è±†æµ†æ²¹æ¡åº—', 'ä¸Šæµ·å¸‚ä¸´æ½¼è·¯', 'Casual dining', 4),
 ('å®‰å±…å…°åº­', 'ä¸Šæµ·å¸‚å…°æºªè·¯', 'Residences', 4),
 ('å’Œé£é€ å‹ç§å±Salon', 'ä¸Šæµ·å¸‚ä¸Šå—è·¯', 'Live Entertainment', 4),
 ('å—æ–°å››æ‘', 'ä¸Šæµ·å¸‚ä¸‹å—è·¯', 'Unknown Classification', 4),
 ('muse 2', 'ä¸Šæµ·å¸‚å…´å®‰è·¯', 'Other', 4),
 ('å¹¸ç¦è·¯', 'ä¸Šæµ·å¸‚å¹¸ç¦è·¯', 'Other', 4),
 ('æ¢…èµ›å¾·æ–¯å¥”é©°æ–‡åŒ–ä¸­å¿ƒéŸ³ä¹ä¿±ä¹éƒ¨', 'ä¸Šæµ·å¸‚åšæˆè·¯', 'Unknown Classification', 4),
 ('æµ·åº•æç«é”…(é•¿å¯¿è·¯)', 'ä¸Šæµ·å¸‚é•¿å¯¿è·¯', 'Hot Pot', 4),
 ('æ˜Ÿå·´å…‹(ä¸œæ¨±èŠ±è‹‘åº—)', 'ä¸Šæµ·å¸‚æµ¦é€¸è·¯', 'Other', 4),
 ('è™¹å£ä½“è‚²é¦†', 'ä¸Šæµ·å¸‚ä¸œä½“è‚²ä¼šè·¯', 'Food & Drink', 4),
 ('G-Star RAWæ——èˆ°åº—', 'ä¸Šæµ·å¸‚æˆéƒ½åŒ—è·¯', 'Shopping services', 4),
 ('ä¸Šæµ·æŸæ‚¦é…’åº—', 'ä¸Šæµ·å¸‚ä¸–çºªå¤§é“', 'Five-star hotel', 4),
 ('å¤æ—¦å¤§å­¦å—åŒº', 'ä¸Šæµ·å¸‚æ”¿è‚ƒè·¯', 'Institutions of higher learning', 4),
 ('2013è·¨å¹´æ¼”å”±ä¼šèšé›†åœ°', 'åŒ—äº¬å¸‚è¿œå¤§ä¸œè·¯', 'Activity', 4),
 ('è±ªäº«æ¥ æ¢…å·åº—', 'ä¸Šæµ·å¸‚æ¢…å·è·¯', 'Western Restaurant', 4),
 ('ä¸€å…†éŸ¦å¾·(ä¸½å›­åº—)', 'ä¸Šæµ·å¸‚è¥¿è—å—è·¯', 'Unknown Classification', 4),
 ('æµ·ä¼¦è·¯', 'ä¸Šæµ·å¸‚å››å¹³è·¯', 'Unknown Classification', 4),
 ('é‡‘èŒ‚å¤§å¦', 'ä¸Šæµ·å¸‚æµ·å…´è·¯', 'Buildings', 4),
 ('ä¸Šæµ·å¸‚å›­æ—å­¦æ ¡', 'ä¸Šæµ·å¸‚æ¨æ ‘æµ¦è·¯', 'Adult Education', 3),
 ('ä¸Šæµ·é¾™ä¹‹æ¢¦ä¸½æ™¶å¤§é…’åº—', 'ä¸Šæµ·å¸‚å»¶å®‰è¥¿è·¯', 'Five-star hotel', 3),
 ('ä¸Šæµ·å¤§å‰§é™¢', 'ä¸Šæµ·å¸‚æ–°æ˜Œè·¯', 'Theater', 3),
 ('å¤§å®å›½é™…å•†ä¸šå¹¿åœº', 'ä¸Šæµ·å¸‚å…±å’Œæ–°è·¯', 'Market', 3),
 ('ç»¿åœ°æ™®é™€å•†åŠ¡å¹¿åœº', 'ä¸Šæµ·å¸‚æ–°æ‘è·¯', 'Unknown Classification', 3),
 ('å¼ æ±Ÿå­¦ç”Ÿç¤¾åŒº', 'ä¸Šæµ·å¸‚åä½—è·¯', 'Campus Life', 3),
 ('è°ƒé¢‘å£¹å¹¿åœº', 'ä¸Šæµ·å¸‚é•¿å¯¿è·¯', 'Market', 3),
 ('å¤–ç¯éš§é“', 'ä¸Šæµ·å¸‚S20å¤–ç¯é«˜é€Ÿ', 'Unknown Classification', 3),
 ('å®æ±‡å›½é™…å¹¿åœº', 'ä¸Šæµ·å¸‚å†…ç¯é«˜æ¶è·¯å…¥å£', 'Buildings', 3)]

In [24]:
for i in range(50):
    for j in range(50):
        if rows_f[i][0]==rows_a[j][0]:
            if rows_f[i][3]==rows_a[j][3]:
                print(rows_f[i],'FEMALE SPECIFIC')
                break
        if rows_m[i][0]==rows_a[j][0]:
            if rows_m[i][3]==rows_a[j][3]:
                print(rows_m[i],'MALE SPECIFIC')
                break
        if rows_f[i][0]==rows_a[j][0]:
            if rows_f[i][3]!=rows_a[j][3]:
                print(rows_f[i],'COMMON PLACES')
                break

('å‡¤åŸä¸‰æ‘', 'ä¸Šæµ·å¸‚æ±Ÿæµ¦è·¯', 'Residences', 13) FEMALE SPECIFIC
('åº·æ³°æ–°åŸ', 'ä¸Šæµ·å¸‚åçµè·¯', 'Unknown Classification', 13) FEMALE SPECIFIC
('æ–°å¤©åœ°', 'ä¸Šæµ·å¸‚åµ©å±±è·¯', 'Other', 9) COMMON PLACES
('å¹¸ç¦ç å¤´', 'ä¸Šæµ·å¸‚ä¸­å±±å—è·¯', 'Residences', 7) FEMALE SPECIFIC
('ä¸‡æºåŸæœ—éƒ¡', 'ä¸Šæµ·å¸‚å¤é¾™è·¯', 'Residences', 6) FEMALE SPECIFIC
('æ±¤è‡£é«˜å°”å¤«åˆ«å¢…', 'ä¸Šæµ·å¸‚é¾™ä¸œå¤§é“', 'Residences', 6) FEMALE SPECIFIC
('ä¸ƒéŸµç¾åœ°è‹‘', 'ä¸Šæµ·å¸‚å´ä¸­è·¯', 'Unknown Classification', 6) FEMALE SPECIFIC
('MUSE2', 'ä¸Šæµ·å¸‚å…´å®‰è·¯', 'Bar', 6) COMMON PLACES
('æ±‡è´¤å±…(The Summit)', 'ä¸Šæµ·å¸‚å®‰ç¦è·¯', 'Residences', 5) FEMALE SPECIFIC
('å—å®œèŠ±è‹‘', 'ä¸Šæµ·å¸‚å‡¯æ—‹è·¯', 'Residences', 5) FEMALE SPECIFIC
('é•‡åªè·¯', 'ä¸Šæµ·å¸‚é•‡åªè·¯', 'Unknown Classification', 5) FEMALE SPECIFIC
('ç¯çƒé‡‘èä¸­å¿ƒ', 'ä¸Šæµ·å¸‚ä¸œæ³°è·¯', 'Unknown Classification', 5) FEMALE SPECIFIC
('é¦¥é‚¦ä¸­ç¯å¹¿åœº', 'ä¸Šæµ·å¸‚å¤©å±±è·¯', 'Market', 5) FEMALE SPECIFIC
('ä¸­å›½è”é€š', 'ä¸Šæµ·å¸‚æ–‡æ²»è·¯', 'Buildings', 5) FEMALE SPECIFIC
('ä¸Šæµ·å¤–æ»©åå°”é“å¤«é…’åº—(Waldorf Astoria Shanghai on the Bund)', 'ä¸Šæµ·å¸‚å»¶å®‰ä¸œè·¯', 'Hotels, guest houses', 5) FEMALE SPECIFIC
('å®‰å±…å…°åº­', 'ä¸Šæµ·å¸‚å…°æºªè·¯', 'Residences', 4) FEMALE SPECIFIC
('muse 2', 'ä¸Šæµ·å¸‚å…´å®‰è·¯', 'Other', 4) FEMALE SPECIFIC
('æ¢…èµ›å¾·æ–¯å¥”é©°æ–‡åŒ–ä¸­å¿ƒéŸ³ä¹ä¿±ä¹éƒ¨', 'ä¸Šæµ·å¸‚åšæˆè·¯', 'Unknown Classification', 4) FEMALE SPECIFIC
('æ˜Ÿå·´å…‹(ä¸œæ¨±èŠ±è‹‘åº—)', 'ä¸Šæµ·å¸‚æµ¦é€¸è·¯', 'Other', 4) FEMALE SPECIFIC
('ä¸Šæµ·æŸæ‚¦é…’åº—', 'ä¸Šæµ·å¸‚ä¸–çºªå¤§é“', 'Five-star hotel', 4) FEMALE SPECIFIC
('å¤æ—¦å¤§å­¦å—åŒº', 'ä¸Šæµ·å¸‚æ”¿è‚ƒè·¯', 'Institutions of higher learning', 4) FEMALE SPECIFIC
('ä¸Šæµ·å¸‚å›­æ—å­¦æ ¡', 'ä¸Šæµ·å¸‚æ¨æ ‘æµ¦è·¯', 'Adult Education', 3) FEMALE SPECIFIC
('ä¸Šæµ·å›½é‡‘ä¸­å¿ƒIFC', 'ä¸Šæµ·å¸‚é™†å®¶å˜´ç¯è·¯', 'Market', 3) COMMON PLACES
('ç»¿åœ°æ™®é™€å•†åŠ¡å¹¿åœº', 'ä¸Šæµ·å¸‚æ–°æ‘è·¯', 'Unknown Classification', 3) FEMALE SPECIFIC
('ä¸Šæˆå‰§é™¢', 'ä¸Šæµ·å¸‚åå±±è·¯', 'Concert Hall', 3) COMMON PLACES
('è°ƒé¢‘å£¹å¹¿åœº', 'ä¸Šæµ·å¸‚é•¿å¯¿è·¯', 'Market', 3) FEMALE SPECIFIC
('2013è·¨å¹´æ¼”å”±ä¼šèšé›†åœ°', 'åŒ—äº¬å¸‚è¿œå¤§ä¸œè·¯', 'Activity', 3) COMMON PLACES
('ä¸Šæµ·æ˜å¤©å¹¿åœºJWä¸‡è±ªé…’åº—', 'ä¸Šæµ·å¸‚æ±Ÿé˜´è·¯', 'Five-star hotel', 3) COMMON PLACES
('æµ·åº•æç«é”…(é•¿å¯¿è·¯)', 'ä¸Šæµ·å¸‚é•¿å¯¿è·¯', 'Hot Pot', 2) COMMON PLACES